/* page.module.css */
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
    /* Centra verticalmente */
    align-items: center;
    /* Centra horizontalmente */
      height: 100vh;
      /* Hace que el contenedor ocupe la altura completa de la ventana */
    text-align: center;
    /* Asegura que el texto esté centrado */
    }

.description {
  margin-bottom: 20px;
    /* Añade un margen inferior para separar los elementos */
  }

.inputContainer {
  display: flex;
  flex-direction: column;
    gap: 20px;
    /* Espaciado entre los campos de entrada */
    width: 100%;
    max-width: 300px;
      /* Controla el ancho máximo de los campos */
    }

.center {
  margin-top: 20px;
  /* Añade un margen superior para separar el selector de idioma */
}

.inputField {
  /* Aumenta el padding para hacer los campos más grandes */
  border-radius: 18px;
  border: 1px solid #ccc;
  font-size: 24px;
  /* Aumenta el tamaño de la fuente */
  width: 100%;
  /* Asegura que el campo ocupe todo el ancho disponible */
  box-sizing: border-box;
  /* Incluye el padding y el borde en el tamaño total del campo */
}

.title {
  font-size: x-large;
  margin-bottom: 30px;
}
